#FilterBox {
    width: 18%;
    margin-left: 5%;
    top: 16%;
    bottom: 30%;
    position: fixed;
    background-color: transparent;
    border-radius: 20px;
    padding: 8px;
}

#FilterBox .SearchBox {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: transparent;
    position: relative;
}


#FilterBox h1 {
    display: none;
}

#FilterBox .SearchBox .searchResultsButton {
    display: none;
}

#FilterBox .SearchBox .applySearchResultsButton {
    display: inline;
}

#FilterBox .SearchBox .dateContainer {
    display: inline;
}