.SearchResults {
    justify-content: center;
    text-align: center;
    align-items: center;
}

.line {
    width: 100%;
    height: 2px;
    background-color: rgb(57, 202, 154);
    margin-top: 10px;
}

.searchFilter {
    width: 20%;
}

.resultsContainer {
    width: 78%; 
    margin: 0 7% 0 1%;
    display: inline;
    padding: 8px 8px 8px 8px;
    border: 2px solid #dadada;
    box-shadow: 0px 0px 3px #dadada;
    border-radius: 20px;
}
